.App {
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  margin-bottom: 2rem;
}

.App-title {
  font-weight: bold;
  font-size: 3rem;
}

main {
  width: 80%;
  max-width: 800px;
}

section {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}
